.test {
width: 40%;
}

.mat-drawer{
    background-color: black;
    width: 60px;
  }
  .example-form {
    width: 100%;
  }
  
  .example-full-width{
    width: 100%;
    height: 40%;
  }
  .mat-error{
    font-size: 12px;
  }
  