table {
  width: 100%;

}

.table-container {
  width: calc(100% - 60px);
  margin: auto;
  background-color: white;
  
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-left:auto;

}
.example-button-row {
  display: table-cell;
}

.form-field-width{
  width: 30%;
}

.mat-form-field{
  margin: auto;
}
.mat-row.highlighted {
  background:#b6d6fa;
}
.active-link{
text-decoration: underline;
  }